# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
dist
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# junks
public/uploads/*

# data 
data/*

src/config.ts

# public
public/teste*

config.json